!!!
= form_tag example1_path, method: :get do

  -params.each do |key, value|
    = "#{key}: #{value}"
    %br

  -#If we wanted to call the method from the controller, we would do it like as below (see ExamplesController as well).
  -#The standard way of doing things though is in the view (see lines 4 to 6)

  -#%pre= output_params

  %p
    %label
      Check:
      = check_box_tag "a_checkbox_input", 1, params[:a_checkbox_input]
      = hidden_field_tag "a-hidden-input", "I am hidden"
    %label
      Text
      = text_field_tag "some_text", params[:some_text]
      = submit_tag "submit", :name => "a-submit-input"
